<body>
    <header>
        <h1>Welcome to PlantPlate</h1>
        <p>A hub for delicious, plant-based recipes</p>
    </header>

    <main>
        <section class="mission">
            <h2>Our Mission</h2>
            <p>Plant-based eating is good for your health, good for the environment, and good for animals. At PlantPlate,
                we provide fact-based information and access to fully plant-based recipes all in one place. Here, you can
                filter recipes based on your taste preferences, save meals you want to try, get directions on how to make
                each meal, and more.</p>
        </section>

        <section class="reasons">
            <h2>Reasons to Eat More Plant-Based</h2>
            <p>By switching out just one meal a day with a plant-based option for one year, a single consumer could: <sup>[<a href="https://vegworldmag.com/substituting-just-one-meal-a-day-to-plant-based-can-reduce-carbon-footprint-by-40/" target="_blank">1</a>]</sup></p>
            <ul>
                <li>Reduce environmental impact by more than 40%.<sup>[<a href="https://www.mdpi.com/2071-1050/11/22/6235" target="_blank">2</a>]</sup> The single greatest impact on carbon footprint – even more than buying local<sup>[<a href="https://pubs.acs.org/doi/10.1021/es702969f" target="_blank">3</a>]</sup>, turning off lights, or recycling<sup>[<a href="https://www.sciencedirect.com/science/article/pii/S0959652616313956?via%3Dihub" target="_blank">4</a>]</sup> – is to replace red meat and dairy products with plant-based alternatives.</li>
                <li>Spare four farm-raised animals from slaughter. If all Americans did this, it would save more than 1.2 billion farm-raised animals annually in the U.S. alone.<sup>[<a href="https://animalcharityevaluators.org/research/reports/dietary-impacts/effects-of-diet-choices/#results" target="_blank">5</a>]</sup></li>
                <li>Improve health. Eating whole grains, fruits, vegetables and legumes lowers the risk of coronary heart disease, type II diabetes, stroke, and colorectal cancers.<sup>[<a href="https://www.pnas.org/doi/full/10.1073/pnas.1906908116" target="_blank">6</a>]</sup></li>
            </ul>
        </section>
        

        <section class="cta">
            <h2>Ready to Get Started?</h2>
            <p>Create an account or log in to unlock the full potential of PlantPlate!</p>
            <a
            class="details-link"
            [routerLink]="['/login']">
            <button >Create Account / Log In</button>
          </a>
        </section>
    </main>
</body>
